<section class="spotlight">
  <% if @spotlight %>
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">
        Media Spotlight
      </span>
      <%= link_to @spotlight.title, work_path(@spotlight), class: "spotlight__link-to" %> by <%= @spotlight.creator %>
    </h2>
    <p class="spotlight__description"><%= pluralize(@spotlight.votes.count, "vote") %> - <%= @spotlight.description %></p>
  <% else %>
    <h2 class="spotlight__header">
      Media Spotlight
    </h2>
  <% end %>
</section>

<hr class="root__hr">

<section class="top-ten__container">
  <%= render partial: "top_ten", locals: { header: "Top Movies", works: @movies } %>
  <%= render partial: "top_ten", locals: { header: "Top Books", works: @books } %>
  <%= render partial: "top_ten", locals: { header: "Top Albums", works: @albums } %>
</section>