<h2>List of Works</h2>

<%= render partial: "media_table", locals: { header: "Albums", works: @albums } %>
<%= render partial: "media_table", locals: { header: "Books", works: @books } %>
<%= render partial: "media_table", locals: { header: "Movies", works: @movies } %>

<%= link_to "View top media", root_path, class: "btn btn-secondary" %> 
<%= link_to "Add a new work", new_work_path, class: "btn btn-primary" %>