<tr>
  <td><%= link_to work.title, work_path(work) %></td>
  <td><%= work.creator %></td>
  <td><%= work.publication_year %></td>
  <td><%= work.category %></td>
  <td><%= @user.voted_on(work).strftime("%B %e, %Y") %></td>
</tr>