<!DOCTYPE html>
<html>
  <head>
    <title>LGBTQ Media Ranker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="site-header">
      <h1>
      <%= link_to "LGBTQ Media Ranker", root_path %>
      <small>Ranking the Best of Everything</small>
      </h1>

      <nav class="d-flex justify-content-between site-nav">
        <ul class="nav media-nav">
          <li class="nav-item">
            <%= link_to "View top media", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "View all media", works_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add a work", new_work_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "View all users", users_path, class: "nav-link" %>
          </li>
        </ul>

        <ul class="nav user-nav">
        <% if session[:user_id] %>
          <% user = User.find(session[:user_id]) %>
          <li class="nav-item">
            <%= link_to "Logged in as #{user.username}", user_path(user), class: "btn btn-primary" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", logout_path, method: :post, class: "btn btn-primary" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", login_path, class: "btn btn-primary" %>
          </li>
        <% end %>
        </ul>
      </nav>
    </header>

    <section class="flash-msg">
      <% flash.each do |name, message| %>
        <div class="alert <%= flash[:success] ? "alert-success" : "alert-warning" %>">
            <span><%= message %></span>
          
          <ul>
            <% if @work %>
              <%= render partial: "./shared/error_messages", collection: @work.errors, as: :error %>
            <% end %>
            <% if session[:vote_errors] %>
              <%= render partial: "./shared/error_messages", collection: session[:vote_errors], as: :error %>
            <% end %>
            <% if @user %>
              <%= render partial: "./shared/error_messages", collection: @user.errors, as: :error %>
            <% end %>
          </ul>
        </div>
      <% end %>
    </section>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
